/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
body{
    background-color: #e7e5e4;
}
.nav{
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: #0c97ce;
    display: flex;
    justify-content:space-around;
}
.nav ul{
    display: flex;
    justify-content: space-around;
}
.nav ul li{
    list-style:none;
}
.nav ul li a{
    text-decoration: none;
    padding: 5px;
    color: white;
    font-weight: bold;
    margin: 10px;
}
.nav ul li a:hover{
    border-bottom: 2px solid white;
}
.nav h1{
    color: black;
    font-family: "Brush Script MT", serif;
}
.nav h1 span{
    color: white;
}
.nav .logout{
    border-radius: 10px;
    border: 1px solid white;
    background: transparent;
    color: white;
}
